# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Push warning 

on:
  push:
    branches: [ "main" ]
 
# Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:
  
#permissions:
  #contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: Set up Python 3.9
          uses: actions/setup-python@v3
          with:
            python-version: "3.9"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install ipytest
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      #- name: Lint with flake8
        #flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
            #flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        - name: Test with pytest
          run: |
              ipytest 
